<div class="container">
  <div class="form-login">
  <div class="right-login">
    <div class="card-login">
      <h1>EDITAR SUPERVISOR</h1>
      <div class="textfield">
        <label for="su_nome">Nome</label>
        <input type="text"  id="" placeholder="Nome" [(ngModel)]="supervisor.su_nome"  name="su_nome">
      </div>
      <div class="textfield">
        <label for="su_email">Email</label>
        <input type="email" name="su_email" id="" placeholder="Email" [(ngModel)]="supervisor.su_email" >
      </div>
      <button class="btn-login" (click)="editarSupervisor()">editar</button>
    </div>
  </div>
</div>
</div>
<!-- <div *ngIf="isAlert" class="alertu">
  <div class="alert alert-success d-flex align-items-center" role="alert">
    <div>
      <p><i class="bi bi-check-circle-fill"></i>Funcionario cadastrado com sucesso!! agora escolha uma foto</p>
    </div>
  </div>
  </div>
  <div *ngIf="isAlert2" class="alertu">
    <div class="alert alert-success d-flex align-items-center" role="alert">
      <div>
        <p><i class="bi bi-check-circle-fill"></i>Foto eviada com sucesso!!</p>
      </div>
    </div>
    </div> -->


