<div class="container">
  <div class="navigation">
    <ul>
      <li>
        <a href="#">
          <span class="logo"><img src="assets/tesla.png"/></span>
        </a>
      </li>
      <li>
        <a routerLink="/dashboard">
          <span class="icon"><i class="bi bi-file-earmark-bar-graph"></i></span>
          <span class="title">Dashboard</span>
        </a>
      </li>
      <li>
        <a routerLink="/cargos/list">
          <span class="icon"><i class="bi bi-folder2-open"></i></span>
          <span class="title">Cargos</span>
        </a>
      </li>
      <li>
        <a routerLink="/funcionario/list">
          <span class="icon"><i class="bi bi-person-lines-fill"></i></span>
          <span class="title">Funcionarios</span>
        </a>
      </li>
      <li>
        <a routerLink="/supervisor/list">
          <span class="icon"><i class="bi bi-inboxes"></i></span>
          <span class="title"> Supervisores</span>
        </a>
      </li>
      <li>
        <a routerLink="/cargo/add">
          <span class="icon"><i class="bi bi-folder-plus"></i></span>
          <span class="title">Novo Cargo</span>
        </a>
      </li>
      <li>
        <a routerLink="/login">
          <span class="icon"><i class="bi bi-door-open"></i></span>
          <span class="title">Sign out</span>
        </a>
      </li>
    </ul>
  </div>
</div>
<main class="main">
  <div class="topbar">
    <div class="toggle">
      <i class="bi bi-justify"></i>
    </div>
  </div>
</main>

